body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#display {
    width: 95%;
    margin-bottom: 15px;
    padding: 5px;
    margin-right: 15px;
    font-size: 1.5em;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.buttons button {
    width: 100%;
    height: 50px;
    font-size: 1em;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.buttons button.double {
    grid-column: span 2; /* Span two columns for the "=" button and "0" button */
}
.buttons button:active {
    background-color: #ddd;
}
.deve{
    position: absolute;
    bottom: 10%;
    font-family: sans-serif;
}
